<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astra.app.factograph.m_fact" >

    <application
        android:name=".MyGlobalSigns"
        android:allowBackup="true"
        android:icon="@drawable/c4_luancher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Overview"
            android:label="@string/title_activity_overview" />
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details" />
        <activity
            android:name=".Auth"
            android:label="@string/title_activity_auth" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Restrate"
            android:label="@string/title_activity_restrate" >
        </activity>
        <activity
            android:name=".MonteMoiEF"
            android:label="@string/title_activity_monte_moi_ef" >
        </activity>
        <activity
            android:name=".EditEF"
            android:label="@string/title_activity_edit_ef" >
        </activity>
        <activity
            android:name=".Links"
            android:label="@string/title_activity_links" >
        </activity>
    </application>

</manifest>
