<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.astra.app.factograph.m_fact">

    <application
        android:allowBackup="true"
        android:icon="@drawable/c4_luancher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.astra.app.factograph.m_fact.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.astra.app.factograph.m_fact.Overview"
            android:label="@string/title_activity_overview"></activity>
        <activity
            android:name="com.astra.app.factograph.m_fact.Details"
            android:label="@string/title_activity_details"></activity>
    </application>

</manifest>
